extend layout

append scripts
  script(src='/js/highcharts-2.3.3.min.js')
  script(src='/js/dashboard.js?20121106')

block main

  .row
    .span8
      #chart-daily.chart
    .span4
      #chart-storage.chart

  .row
    .span12
      article
        header
          h2
            i.icon-time
            | Recent Backups
        section
          include _backup_list
