extends layout

append scripts
  != js('views/dropbox')

block center

  if error
    .alert
      h1 Oops!
      p There was an error connecting to this account. Please try again later.

  else
    p!= info.used()
    p!= info.quota()
    p!= info.free()

    //-#chart1
      //-svg(style='width:600px;height:400px')

    #chart2
      svg(style='width:600px;height:400px')

block left
  p
    strong Account Type
    br
    | Dropbox
  p
    strong Account Name
    br
    = account.display_name
  p
    strong UID
    br
    = account.uid
