extends layout

block content

  ul.accounts
    for account in accounts
      li
        a(href="/accounts/#{account.id}")= account.provider

  #add-account
    select(onchange="if(this.value) location.href=this.value")
      option(value='') (add an account)
      for provider in acct_types
        option(value="/auth/#{provider[0]}")= provider[1]
