extends layout

block scripts
  != css('console')
  != js('console')

block content
  .chat-container
    .chat
      .message
        span.nick tim
        span.text my message
      .command
        span.prompt
         = user ? user.username : null
         | @websh:~&gt;
        input(autocomplete='off')
