extends layout

block center

  .row-fluid
    .span12
      table.table.table-bordered.table-striped
        thead
          tr
            th type
            th name
        tbody
          for account in accounts
            tr
              td
                a(href="/accounts/#{account.provider}/#{account.uid}")= account.provider
              td= account.display_name

block left
  #add-account
    select(onchange="if(this.value) location.href=this.value")
      option(value='') (add an account)
      for provider in acct_types
        option(value="/auth/#{provider[0]}")= provider[1]
