extends layout

append scripts
  script
    app.username = '#{session.username || 'guest'}'

block content

  section
    = session.username
    img#logo(src='/images/bot64.png')
    .arrow-left
    .input

  .list
