doctype 5
html
  head
    title WSH
    link(href='http://fonts.googleapis.com/css?family=Numans', rel='stylesheet', type='text/css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
    script(src='https://browserid.org/include.js')
    script(src='/socket.io/socket.io.js')
    block scripts
      != css('main')
      != js('main')
      script(src='/js/templates.js')
  body
    .queue
      block queue
    nav.user
      include _browserid
    #main
      if flash('error')
        .error= flash('error')
      block content
