doctype 5
html
  head
    title Picirus - Cloud Backup
    block meta
    block scripts
      link(rel='icon', type='image/png', href='/images/favicon.png?20121106')
      link(rel='stylesheet', type='text/css', href='/css/bootstrap.no-icons.min.css?20121106')
      link(rel='stylesheet', type='text/css', href='/css/font-awesome.css?20121106')
      link(rel='stylesheet', type='text/css', href='/css/app.css?20121106')
      script(src='/js/jquery-1.8.2.min.js')
      script(src='/js/bootstrap-2.2.1.min.js')
      script(src='/js/rails.js?20121106')
      script(src='/js/app.js?20121106')
  body
    nav.navbar.navbar-static-top
      .navbar-inner
        .container
          .brand
            a(href='/') Picirus
          ul.nav
            li(class = path == '' && 'active')
              a(href='/')
                i.icon-dashboard
                |  dashboard
            li(class = path == 'accounts' && 'active')
              a(href='/accounts')
                i.icon-cloud
                |  accounts
            li(class = path == 'settings' && 'active')
              a(href='/settings')
                i.icon-cogs
                |  settings
          form.navbar-search.pull-right
            input(type='text', class='search-query', placeholder='Search')

    #main
      .container
        for cls in ['info', 'success', 'error']
          if msg = flash(cls)
            .alert(class="alert-#{cls}")
              i(class=alertIconClass(cls))
              |  
              = msg
        block main

    .container
      footer
        | &copy; Copyright 2012, TJRM, Inc. &middot; 
        a(href='mailto:support@tjrm.org') support@tjrm.org
        |  &middot; icons by <a href="http://fortawesome.github.com/Font-Awesome">Font Awesome</a>
        |  &middot; background by <a href="http://subtlepatterns.com">Subtle Patterns</a>
