doctype 5
html
  head
    title Picirus - Cloud Backup
    block scripts
      link(rel='icon', type='image/png', href='/images/favicon.png')
      link(rel='stylesheet', type='text/css', href='/css/bootstrap.no-icons.min.css')
      link(rel='stylesheet', type='text/css', href='/css/font-awesome.css')
      link(rel='stylesheet', type='text/css', href='/css/app.css')
      script(src='/js/jquery-1.8.2.min.js')
      script(src='/js/bootstrap.js')
      script(src='/js/rails.js')
      script(src='/js/app.js')
  body
    nav.navbar.navbar-static-top
      .navbar-inner
        .container
          .brand
            img(src='/images/logo_header.png')
            a(href='/') Picirus
          ul.nav
            li(class = path == '' && 'active')
              a(href='/')
                i.icon-dashboard
                |  dashboard
            li(class = path == 'accounts' && 'active')
              a(href='/accounts')
                i.icon-cloud
                |  accounts
            li(class = path == 'settings' && 'active')
              a(href='/settings')
                i.icon-cogs
                |  settings
            li(class = path == 'stats' && 'active')
              a(href='/stats')
                i.icon-bar-chart
                |  stats
          form.navbar-search.pull-right
            input(type='text', class='search-query', placeholder='Search')

    #main
      if err = flash('error')
        .alert.alert-box
          = err
      .container
        block main

    .container
      footer
        | &copy; Copyright 2012, TJRM, Inc. &middot; 
        a(href='mailto:support@tjrm.org') support@tjrm.org
        |  &middot; icons by <a href="http://fortawesome.github.com/Font-Awesome">Font Awesome</a>
        |  &middot; background by <a href="http://subtlepatterns.com">Subtle Patterns</a>
