extend layout

block main
  .row
    .offset3.span6
      article.push-down
        header
          h2
            i.icon-remove
            | Remove Account
        section
          p
            | You are about to remove this account permanently. It will not be backed up again, unless you re-add it.
          .center
            p
              a.btn.btn-success(href="/accounts")
                i.icon-arrow-left
                |  Uh, get me out of here!
              |  
              a.btn.btn-warning(href="/accounts/#{account.provider}/#{account.uid}", data-method='delete', data-confirm='Are you sure you want to remove this account?')
                i.icon-remove
                |  Remove this account.
          p
            | Note: this operation will <strong>not</strong> delete the data associated with this account.
