extends layout

block content
  form(action='/signup', method='post')
    .row
      label(for='username') Username:
      input(type='text', name='username', id='username')
    .row
      label(for='password') Password:
      input(type='password', name='password', id='password')
    .row
      label(for='email') Email:
      input(name='email', id='email')
    .row
      input(type='submit', value='Sign Up')
