/* color palette: "safeword" (http://www.colourlovers.com/palette/299662/safeword) by jimmyjames */

body {
  background: url(/images/greyfloral.png); /* background from http://subtlepatterns.com/gray-floral/ */
  color: #473430;
}

a {
  color: #D89845;
}

.navbar .nav > li > a {
  color: #473430;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
  color: #C54B2C;
}

nav .brand img {
  margin-right: 8px;
  vertical-align: baseline;
}

nav .brand a {
  color: #11BAAC;
}

#main {
  margin-top: 25px;
  min-height: 500px;
}

article {
  border: 1px solid #aaa;
  background-color: #fff;
  margin-bottom: 25px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
}

article header {
  margin: 20px;
  border-bottom: 1px solid #ccc;
}

article header h2 {
  margin: 0;
}

article section {
  margin: 20px;
}

h2 {
  font-size: 18px;
}

h2 [class^="icon-"] {
  margin-right: 6px;
}

ul.icons {
  list-style: none;
  margin: 0;
}

footer {
  background: url(/images/bg_footer.png) repeat-x;
  padding-top: 15px;
  color: #777;
  font-size: smaller;
}

footer a {
  color: #555;
}

.discreet {
  color: #aaa;
}
