/* color palette: "safeword" (http://www.colourlovers.com/palette/299662/safeword) by jimmyjames
   #C54B2C = red
   #D89845 = tan
   #11BAAC = blue
*/

body {
  background: url(/images/greyfloral.png); /* background from http://subtlepatterns.com/gray-floral/ */
  color: #473430;
}

a {
  color: #C54B2C;
}

.navbar .nav > li > a {
  color: #473430;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
  color: #C54B2C;
}

nav .brand img {
  margin-right: 8px;
  vertical-align: baseline;
}

nav .brand a {
  color: #11BAAC;
}

#main {
  margin-top: 25px;
  min-height: 500px;
}

article {
  border: 1px solid #aaa;
  background-color: #fff;
  margin-bottom: 25px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
}

article header {
  margin: 20px;
  border-bottom: 1px solid #ccc;
}

article header h2 {
  margin: 0;
}

article section {
  margin: 20px;
}

h2 {
  font-size: 18px;
}

h2 [class^="icon-"],
h3 [class^="icon-"],
h4 [class^="icon-"] {
  margin-right: 6px;
}

h3 {
  font-size: 15px;
}

h2 strong, h3 strong {
  color: #C54B2C;
}

ul.icons {
  list-style: none;
  margin: 0;
}

footer {
  background: url(/images/bg_footer.png) repeat-x;
  padding-top: 15px;
  color: #777;
  font-size: smaller;
}

footer a {
  color: #555;
}

.discreet {
  color: #aaa;
}

.center {
  text-align: center;
}

.push-down {
  margin-top: 25px;
}

th.actions, td.actions {
  width: 10%;
  white-space: nowrap;
}

a i {
  cursor: pointer;
}

.syntaxhighlighter .container:before,
.syntaxhighlighter .container:after {
  content: none;
}

.file-controls {
  float: right;
}

.file-controls label {
  display: inline-block;
  height: 25px;
  vertical-align: middle;
  margin-right: 10px;
}

.popover-error .popover-title {
  background-color: #F2DEDE;
  color: #B94A48;
}
