html, body
  height 100%
  margin 0
  padding 0

body
  font 14px "PT Mono", monospace
  background-color #073642
  color #93a1a1

.chat-container
  height 100%
  margin 0
  overflow auto

.chat
  padding 10px

.command .prompt
  color #b58900
  margin-right 8px

input
  border none
  background-color transparent
  font 14px "PT Mono", monospace
  color #93a1a1

.nick
  color #2aa198

.nick:after
  content " "
