console-bg = #073642
header-bg  = #002b36
default-fg = #93a1a1
input-fg   = #93a1a1
prompt-fg  = #b58900
header-fg  = #2aa198
nick-fg    = #2aa198

/*
base01  = #586e75
base00  = #657b83
base0   = #839496
base2   = #eee8d5
base3   = #fdf6e3
orange  = #cb4b16
red     = #dc322f
magenta = #d33682
violet  = #6c71c4
blue    = #268bd2
green   = #859900
*/

html, body
  height 100%
  margin 0
  padding 0

body
  font 14px "PT Mono", monospace
  background-color console-bg
  color default-fg

header
  background-color header-bg
  padding 5px 10px
  overflow auto
  h1
    font-size 14pt
    color header-fg
    padding 0
    margin 0
  nav
    float right

.console
  margin 0
  overflow auto
  .content
    padding 10px
  .command
    .prompt
      color prompt-fg
      margin-right 8px
    input
      border none
      background-color transparent
      font 14px "PT Mono", monospace
      color input-fg

.nick
  color nick-fg
  &:after
    content " "
