@import reset

body
  font-family "Maven Pro", Arial, Helvetica, sans-serif;
  font-size 14pt
  color #555

nav
  float right
  padding 5px

#main
  width 600px
  margin 25px auto
  padding 40px 20px

h1
  font-family "Maven Pro", Arial, Helvetica, sans-serif;
  font-size 44px
  font-weight normal
  margin-bottom 20px
  #logo
    vertical-align baseline
    margin-left -32px

p
  margin-bottom 20px

ul.accounts
  margin-bottom 30px
  padding-left 15px
