@import reset

body
  font-family Numans, Arial, Helvetica, sans-serif;
  color #555

nav
  float right
  padding 5px

.queue
  float left
  padding 20px
  margin-right 20px
  width 200px

#main
  padding 20px
  margin-left 260px

h1
  font-size 28px
  margin 10px 0

.input
  input
    width 300px
    padding 2px

.list
  margin-top 15px
  ul
    list-style none
    li
      background-color #eee
      padding 5px
