body
  font-family "Maven Pro", Arial, Helvetica, sans-serif
  font-size 14pt
  color #555
  background #333 url(/images/shl.png)

#main
  padding 20px

nav
  form input
    width 90%

.table-striped tbody tr:nth-child(2n) td
.table-striped tbody tr:nth-child(2n) th
  background-color #fff
